.form__wrapper {
	width: 50%;
	margin: 50px auto 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form__wrapper h2 {
	color: #1e58ff;
}

.form__form {
	width: 100%;
	max-width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.form__item {
	width: 100%;
	margin: 24px 0;
	position: relative;
	flex-shrink: 0;
}

.forms__item__bar {
	width: 100%;
	height: 2px;
	background: #7d7d7d;
	transition: .1s all;
}

label {
	color: #7d7d7d;
	position: absolute;
	top: 3px;
	left: 0;
	transition: .2s ease-out all;
	font-size: 16px;
}

input,
textarea {
	color: #7d7d7d;
	font-size: 16px;
	border: none;
	line-height: 22px;
	width: 100%;
	background: none;
}

textarea {
	resize: none;
	min-height: 150px;
}

input:focus,
textarea:focus {
	outline: none;
}

input:focus + label,
textarea:focus + label {
	top: -22px;
	font-size: 13px;
}

input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label {
	top: -22px;
	font-size: 13px;
}

input:focus ~ .forms__item__bar,
textarea:focus ~ .forms__item__bar {
	background: #1e58ff;
}

.form__button {
	font-size: 10px;
	text-decoration: none;
	padding: 7px 12px;
	font-weight: 500;
	background: none;
	border: 2px solid #1e58ff;
	color: #1e58ff;
}
